#====================================================
#     BINARY FILES
#====================================================
**/__pycache__
**/arsenalgear.egg*
**/build
**/dist

#====================================================
#     PERSONAL FILES
#====================================================
.vscode
note.txt
img/tests