#====================================================
#     BINARY FILES FOR CPP
#====================================================
**/obj
**/lib
**/bin
**/a.out

#====================================================
#     BINARY FILES FOR PYTHON
#====================================================
**/__pycache__
**/arsenalgear.egg*
**/build
**/dist

#====================================================
#     PERSONAL FILES
#====================================================
.vscode